@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz@8..144&display=swap');

:root {
  --bg-color: #F7F7F9;
  --bg-register-color: #f3f3f3;
  --spacecadet-color: #2b2d42;
  --button-color: #41E2BA;

  --ff-family: 'Red Hat Text', sans-serif;
  --text-xl: 700 2rem/3rem var(--ff-family);
  --text-lg: 600 1.5rem/2rem var(--ff-family);
  --text-md: 400 1.25rem/2rem var(--ff-family);
  --text-sm: 400 1.25rem/2rem var(--ff-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80rem;
  margin-inline: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.registers {
  background-color: var(--bg-register-color);
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 16px 16px;
  width: 51.9rem;
  height: 35rem;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#add {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#remove {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  & img {
    width: 1rem;
    cursor: pointer;
  }
}

.handle {
  cursor: grab;
  padding: 5px;
  color: var(--spacecadet-color);
  text-align: center;
}

.handle:active {
  cursor: grabbing;
}

@media (width < 80rem) {
  :root {
    --ff-family: 'Red Hat Text', sans-serif;
    --text-xl: 700 1rem/3rem var(--ff-family);
    --text-lg: 600 1rem/2rem var(--ff-family);
    --text-md: 400 .75rem/2rem var(--ff-family);
    --text-sm: 400 .75rem/2rem var(--ff-family);
  }

  .container {
    max-width: 25.5rem;
  }

  .registers {
    width: auto;
  }

  .handle {
    padding: 0;
  }

  #add {
    top: 40%;
  }

  #remove {
    top: 40%;
  }
}