#task-container {
    margin-top: 2rem;
    border-radius: 12px;
    width: 90%;
    justify-self: center;
    height: 4rem;
    background-color: #fff3cd;

    transition: background-color 0.3s;
}

#task-container:hover {
    background-color: #ffe7b3;
}

ol {
    counter-reset: item;
    list-style-type: none;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding-inline: 1rem;
}

li::before {
    content: counter(item) ".";
    counter-increment: item;
    font: var(--text-lg);
    color: var(--spacecadet-color);
}

.task {
    font: var(--text-lg);
    color: var(--spacecadet-color);
    width: 20rem;

    /* border: 1px solid red; */
    position: relative;
    margin-right: auto;
}

.task-expense {
    font: var(--text-md);
    color: var(--spacecadet-color);

    width: 12.5rem;
    margin-right: auto;

    /* border: 1px solid red; */
}

.date {
    font: var(--text-sm);
    color: var(--spacecadet-color);

    margin-right: 2rem;

    /* border: 1px solid red; */
}

.buttons {
    display: flex;
    align-items: center;
    gap: .5rem;

    & .edit-btn {
        width: 1.5rem;
        cursor: pointer;
    }
    
    & .remove-btn {
        width: 2rem;
        cursor: pointer;
        margin-top: .1rem;
    }
}

.expensive-task {
    background-color: #f7e733a9 !important;

    transition: background-color 0.3s ease;
}

.expensive-task:hover {
    background-color: #ffea00cc !important;
}


@media (width < 80rem) {

    li {
        width: 5rem;
    }

    li::before {
        content: none;
    }
    .task {
        /* border: 1px solid var(--spacecadet-color); */
        width: 9rem;
        max-width: 9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .task-expense {
        display: none;
    }

    .date {
        /* border: 1px solid var(--spacecadet-color); */
        margin-right: auto;
    }

    .buttons {
        gap: .25rem;
    
        & .edit-btn {
            width: 1rem;
            cursor: pointer;
        }
        
        & .remove-btn {
            width: 1.5rem;
            cursor: pointer;
        }
    }
}